<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registro</title>
  </head>
  <body>
    <h1 class="text-center">Bienvenido de nuevo</h1>
    <main>
        <form action="/cinephile/login" method="post">
        <input
        class="form-control form-control-lg"
        type="email"
        placeholder="introduzca e-mail"
        aria-label=".form-control-lg example"
        name="email"
      />
        <br><br>
        <input
        class="form-control form-control-lg"
        type="password"
        placeholder="Introduzca contraseña"
        aria-label=".form-control-lg example"
        name="password"
      />
        <br /><br />
        <h2 class="text-danger"><%= mensaje %></h2>
        <button class="btn btn-primary" type="submit">Entrar</button>
        <p>Si no estás registrado | <a href="/cinephile/register">Registrate</p></a>
      </form>
    </main>
  </body>
</html>