html {
    overflow-x: hidden;
}
header{
    background-image: url(../images/movieclub.png);
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.section1{
    background: linear-gradient(90deg, rgba(1,1,1,0.8799894957983193) 51%, rgba(69,69,69,0.8743872549019608) 78%);
    width: 100%;
    height: 30vw;
    text-align: center;
}
.section1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section1 h2{
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-size: 3vw;
    padding: 10px 55px 35px 55px;
}
.section1 button{
    margin: 0 auto;
    padding: 10px;
    font-weight: 400;
    background: transparent;
    border-radius: 10px;
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.555);
    color: white;
}
.section1 button:hover{
    color: black;
    outline: 1px solid rgba(255, 255, 255, 0.555);
    background: rgba(255, 255, 255, 0.555);
}
.div-img{
   align-items: center;
}
.section1 img{
    box-shadow: 1px 4px 15px 0 rgba(0, 0, 0, 0.925);
    width: 70%;
}
.section2{
    background-color: rgba(0, 0, 0, 0.863);
    padding: 5%;
}
.section2 h2{
    font-family: 'Abril Fatface', cursive;
    color: white;
    font-size: 50px;
    opacity: 0.7;
}
hr{
    border: 4px solid white;
    width: 18vw;
    margin: 3vw auto;
    opacity: 0.7;
}
  .card-persons{
    position: relative;
    width: 350px;
    height: 390px;
    background: rgba(53, 53, 53, 0.452);
    margin: 3% auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(255, 255, 255, 0.2);
  }
  .card-persons:before,
  .card-persons:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #000;
    transition: 0.5s;
    z-index:-1;
  }
  .card-persons:hover:before{
  transform: rotate(20deg);
  background-color: rgba(90, 87, 87, 0.404);
  box-shadow: 0 2px 5px rgb(255, 255, 255);
  }
  .card-persons:hover:after{
  transform: rotate(10deg);
  background-color: rgba(90, 87, 87, 0.404);
  box-shadow: 0 2px 5px rgb(255, 253, 253);
  }
  .card-persons .imgBx{
  position: absolute;
  top: 7px;
  left: 7px;
  bottom: 7px;
  right: 7px;
  background: #fff;
  transition: 0.5s;
  z-index: 1;
  }
  .card-persons:hover .imgBx
  {
    bottom: 80px;
  }

  .card-persons .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card-persons .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card-persons .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: rgb(175, 168, 168);
   text-transform: uppercase;
  }
  .mas-info{
    color: white;
  }
  .mas-info:hover{
    color: white;
    text-decoration: underline #fff;
  }
  .section3{
    font-family: 'Abril Fatface', cursive;
    background: rgb(58, 58, 58);
    width: 100%;
  }
  .favorita{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 6%;
  }
  .section3 h2{
    font-size: 45px;
    color: rgba(0, 0, 0, 0.644);
  }
  .play{
    font-size: 56px !important;
  }
  .trailer:hover{
    transform: scale(1, 1.2 );
  }
.div-img{
    text-align: center;
    margin: auto;
}
.img-trailer{
    width: 33%;
    box-shadow: 1px 4px 15px 0 rgba(0, 0, 0, 0.925);
}
.section4{
    background-color: #000;
}
.films{
    height: 423px;
    
}
.card-film{
    box-shadow: -6px 6px 15px 2px rgba(44, 44, 44, 0.925);
}
.card-film:hover{
    outline: 2px solid  RGB(153,116,4);
}
.section4 h2{
    font-family: 'Abril Fatface', cursive;
    font-size: 45px;
    color: rgb(175, 168, 168);
}